.card {
    flex: 0 0 400px;
    margin: 10px;
    text-align: left;
}

.card:hover{
    box-shadow: 0px 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card-image {
    max-width: 100%;
}

.card-text {
    padding-left: 5px;
}

.card-text h3:hover {
    color: mediumseagreen;
}

.card-text h3 {    
    font-size: 16px;
    color:black;
}

.card-info p {    
    margin: 0;
    font-size: smaller;    
    color: grey;
}

.card-info p:last-child{
    margin-bottom: 20px;
    font-style: italic;
}

a:link{
    text-decoration: none!important;
}